.Movies-main {
	width: 100%;
	background-color: red;
	display: flex;
	justify-content: center;
	font-family: Lato;
	font-size: 16px;
}

.Movies-main h2{
	font-family: Lato;
	font-size: 25px;
	color: blue

}

.Movies-main p{
	font-family: Lato;
	font-size: 16px;

}
.Movies-main-container {
	width: 70%;
	background-color: yellow;
	margin-left: 160px;
	font-size: 28px;
	padding: 0px 10px;
	display: flex;
	flex-direction: column;
}
.Movies-header-row1 {
	display: flex;
	justify-content: space-between;
}

.Movies-title {
	display: flex;
	justify-content: center;
	align-items: center;

	border: 1px solid blue;
}
.Movies-new-movie {
	border: 1px solid black;
	display: flex;
	justify-content: center;
	align-items: center;
}

.Movies-header-container {
	display: flex;
	flex-direction: column;
}

.Movies-header-row2 {
	border: 1px solid black;
	display: flex;
	flex-direction: column;
}

.Movies-header-date {
	border: 1px solid black;
	display: flex;
}

